root = true

[*.java]
indent_style = space
indent_size = 4
tab_width = 2
continuation_indent_size = 4
insert_final_newline = true
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

max_line_length = 100

ij_java_imports_layout = *,javax.**,java.**,org.**,com.**

insert_final_newline = true
