server:
  http_listen_port: 9080
positions:
  filename: /tmp/positions.yaml
clients:
  - url: http://loki:3100/loki/api/v1/push
scrape_configs:
  - job_name: geulgwi_backend_logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: geulgwi_backend
          __path__: /app/logs/*.log   # Spring Boot 로그 경로와 일치해야 함
