build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    complexity: 2
    LongParameterList: 1
    style: 1
    comments: 1

config:
  validation: true
  warningsAsErrors: false
  checkExhaustiveness: false

processors:
  active: true

console-reports:
  active: true
  exclude:
    - 'ProjectStatisticsReport'
    - 'ComplexityReport'
    - 'NotificationReport'
    - 'FindingsReport'
    - 'FileBasedFindingsReport'

output-reports:
  active: true

comments:
  active: true
  AbsentOrWrongFileLicense:
    active: false
  CommentOverPrivateFunction:
    active: false
  CommentOverPrivateProperty:
    active: false
  EndOfSentenceFormat:
    active: false
  UndocumentedPublicClass:
    active: false
  UndocumentedPublicFunction:
    active: false

complexity:
  active: true
  ComplexCondition:
    active: true
    threshold: 4
  ComplexInterface:
    active: false
  CyclomaticComplexMethod:
    active: true
    threshold: 15
  LabeledExpression:
    active: false
  LargeClass:
    active: true
    threshold: 600
  LongMethod:
    active: true
    threshold: 60
  LongParameterList:
    active: true
    functionThreshold: 6
    constructorThreshold: 7
    ignoreDefaultParameters: false
    ignoreDataClasses: true
    ignoreAnnotated: ['Composable']
  MethodOverloading:
    active: false
  NestedBlockDepth:
    active: true
    threshold: 4
  StringLiteralDuplication:
    active: false
  TooManyFunctions:
    active: true
    thresholdInFiles: 11
    thresholdInClasses: 11
    thresholdInInterfaces: 11
    thresholdInObjects: 11
    thresholdInEnums: 11
    ignoreDeprecated: false
    ignorePrivate: false
    ignoreOverridden: false

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: false
  RedundantSuspendModifier:
    active: false
  SleepInsteadOfDelay:
    active: true
  SuspendFunWithFlowReturnType:
    active: true

empty-blocks:
  active: true
  EmptyCatchBlock:
    active: true
    allowedExceptionNameRegex: "^(_|(ignore|expected).*)"
  EmptyClassBlock: { active: true }
  EmptyDefaultConstructor: { active: true }
  EmptyDoWhileBlock: { active: true }
  EmptyElseBlock: { active: true }
  EmptyFinallyBlock: { active: true }
  EmptyForBlock: { active: true }
  EmptyFunctionBlock:
    active: true
    ignoreOverridden: false
  EmptyIfBlock: { active: true }
  EmptyInitBlock: { active: true }
  EmptyKtFile: { active: true }
  EmptySecondaryConstructor: { active: true }
  EmptyTryBlock: { active: true }
  EmptyWhenBlock: { active: true }
  EmptyWhileBlock: { active: true }

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: true
    exceptionNames:
      - ArrayIndexOutOfBoundsException
      - Error
      - Exception
      - IllegalMonitorStateException
      - NullPointerException
      - IndexOutOfBoundsException
      - RuntimeException
      - Throwable
    allowedExceptionNameRegex: "^(_|(ignore|expected).*)"
  TooGenericExceptionThrown:
    active: true
    exceptionNames:
      - Error
      - Exception
      - Throwable
      - RuntimeException

formatting:
  active: true
  android: true
  autoCorrect: true
  ChainWrapping: { active: true, autoCorrect: true }
  Filename: { active: true }
  FinalNewline: { active: true, autoCorrect: true }
  ModifierOrdering: { active: true, autoCorrect: true }
  NoBlankLineBeforeRbrace: { active: true, autoCorrect: true }
  NoConsecutiveBlankLines: { active: true, autoCorrect: true }
  NoEmptyClassBody: { active: true, autoCorrect: true }
  NoLineBreakAfterElse: { active: true, autoCorrect: true }
  NoLineBreakBeforeAssignment: { active: true, autoCorrect: true }
  NoMultipleSpaces: { active: true, autoCorrect: true }
  NoSemicolons: { active: true, autoCorrect: true }
  NoTrailingSpaces: { active: true, autoCorrect: true }
  NoUnitReturn: { active: true, autoCorrect: true }
  NoUnusedImports: { active: true, autoCorrect: true }
  PackageName: { active: true, autoCorrect: true }
  ParameterListWrapping:
    active: true
    autoCorrect: true
    maxLineLength: 120
  SpacingAroundColon: { active: true, autoCorrect: true }
  SpacingAroundComma: { active: true, autoCorrect: true }
  SpacingAroundCurly: { active: true, autoCorrect: true }
  SpacingAroundDot: { active: true, autoCorrect: true }
  SpacingAroundKeyword: { active: true, autoCorrect: true }
  SpacingAroundOperators: { active: true, autoCorrect: true }
  SpacingAroundParens: { active: true, autoCorrect: true }
  SpacingAroundRangeOperator: { active: true, autoCorrect: true }
  StringTemplate: { active: true, autoCorrect: true }

naming:
  active: true
  ClassNaming:
    active: true
    classPattern: '[A-Z][a-zA-Z0-9]*'
  ConstructorParameterNaming:
    active: true
    parameterPattern: '[a-z][A-Za-z0-9]*'
    privateParameterPattern: '[a-z][A-Za-z0-9]*'
    excludeClassPattern: '$^'
  EnumNaming:
    active: true
    enumEntryPattern: '[A-Z][_a-zA-Z0-9]*'
  FunctionNaming:
    active: true
    functionPattern: '[a-z][a-zA-Z0-9]*'
    excludeClassPattern: '$^'
    ignoreAnnotated: ['Composable']
  FunctionParameterNaming:
    active: true
    parameterPattern: '[a-z][A-Za-z0-9]*'
    excludeClassPattern: '$^'
  MatchingDeclarationName:
    active: true
    mustBeFirst: true
  MemberNameEqualsClassName:
    active: true
  ObjectPropertyNaming:
    active: true
    constantPattern: '[A-Za-z][_A-Za-z0-9]*'
    propertyPattern: '[A-Za-z][_A-Za-z0-9]*'
    privatePropertyPattern: '(_)?[A-Za-z][_A-Za-z0-9]*'
  PackageNaming:
    active: true
    packagePattern: '[a-z]+(\.[a-z][A-Za-z0-9]*)*'
  TopLevelPropertyNaming:
    active: true
    constantPattern: '[A-Z][_A-Z0-9]*'
    propertyPattern: '[A-Za-z][_A-Za-z0-9]*'
    privatePropertyPattern: '_?[A-Za-z][_A-Za-z0-9]*'
  VariableNaming:
    active: true
    variablePattern: '[a-z][A-Za-z0-9]*'
    privateVariablePattern: '(_)?[a-z][A-Za-z0-9]*'
    excludeClassPattern: '$^'

performance:
  active: true
  ForEachOnRange: { active: true }
  SpreadOperator: { active: true }
  UnnecessaryTemporaryInstantiation: { active: true }

potential-bugs:
  active: true
  EqualsWithHashCodeExist: { active: true }
  ExplicitGarbageCollectionCall: { active: true }
  UnreachableCode: { active: true }

style:
  active: true
  MagicNumber:
    active: true
    ignoreNumbers: ['-1', '0', '1', '2']
    ignoreHashCodeFunction: true
    ignorePropertyDeclaration: true
    ignoreLocalVariableDeclaration: false
    ignoreConstantDeclaration: true
    ignoreCompanionObjectPropertyDeclaration: true
    ignoreAnnotation: false
    ignoreNamedArgument: true
    ignoreEnums: false
    ignoreRanges: false
    ignoreExtensionFunctions: true
  ModifierOrder: { active: true }
  NewLineAtEndOfFile: { active: true }
  OptionalAbstractKeyword: { active: true }
  ReturnCount:
    active: true
    max: 2
    excludedFunctions:
      - equals
    excludeLabeled: false
    excludeReturnFromLambda: true
    excludeGuardClauses: false
  SafeCast: { active: true }
  ThrowsCount:
    active: true
    max: 2
